.Burger-Container{
    display: flex;
    margin: auto;
    width: 50%;
    height: 100%;
}

.Burger{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    overflow: auto;

}

@media (max-width: 670px){
    .Burger-Container{
        height: 50%;
    }
}