.Builder-Conatiner{
    display: flex;
    height: 92vh;
}

.Contorls-Container{
    order:-1;
    min-width: 35%;
    background-color: #94a3c7ad;
}

.Contorls-Container .label{
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    font-family: serif;
    color: #030728;
}


@media (max-width: 670px){
    .Builder-Conatiner{
        display: block;
    }
    
    .Contorls-Container{
        order: 2;
    }
}