.Burger-Container{
    display: flex;
    width: 50%;
    margin: auto;
}

.Burger{
    width: 100%;
    height: 100vh;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    overflow: auto;

}

@media (max-width: 670px){
    .Burger{
        height: 26vh;
    }
}