.Builder-Conatiner{
    display: flex;
    height: 91.4vh;
}

.Contorls-Container{
    order:-1;
    min-width: 35%;
    background-color: #797979ad;
}

.Contorls-Container .label{
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    font-family: serif;
}


@media (max-width: 670px){
    .Builder-Conatiner{
        display: block;
        height: 129vh;
    }
    
    .Contorls-Container{
        order: 2;
    }
}