.App {
  text-align: center;
}

button{
  margin: 3px;
  padding: 13px;
  border-radius: 31px;
  background-color: #071907ad;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

button:disabled{
  background-color: #9e9e9e63;
  color: #00000082;
}

button:hover:not(:disabled) {
  background: #55ce50d4;
}